*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
}

h1 {
    padding: 2rem;
    text-align: center;
    background-color: #E6E6E6;
    color: #FF8552;
    border-bottom: 1px solid black;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    list-style: none;
    background-color:#E6E6E6;
    color: #39393A;;
}

li {
    font-size: 1.2rem;
    font-weight: 300;
}

input {
    border-radius: 30rem;
    height: 2rem;
}

button {
    border-radius: 30rem;
    cursor: pointer;
    width: 6rem;
    height: 2rem;
    color: 39393A;

}

.urunlistbaslik {
    flex-direction: row;
    color: #FF8552;
    padding-top: 0.5rem;
}

.urunlistbaslik li {
    border-bottom: 1px solid black;
    font-size: 1.5rem;
}